
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    background: lightgray;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}


button {
    border: 2px solid lightgray;

    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  
}



footer {
    background: lightgray;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

h2 {
    text-align: center;
    
}
